body{width:80%;
    margin:auto;
    text-align:center;}

 form{margin:auto;
      width:300px;}   

 form label{text-align:left;} 

input{width:100%;
      padding:8px 0;}

 button{width:100%;
        margin:20px 0;
        background-color:black;
        color:white;}










/*card css*/
